body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 2.5rem;
  background-color: lightslategray;
  padding: 15px;
  border-radius: 30px;
  color: #f0f0f0;
}

ol {
  background-color: slategrey;
  list-style-type: none;
  padding: 25px;
  border-radius: 30px;
  margin: 0;
  text-align: center;
  font-size: large;
  color: #f0f0f0;
}
li {
  margin-bottom: 0.5rem;
}
